.answers_body
  .title_page.line Answers
  - question.answers.each_with_index do |answer, i|
    .answer_box.clearfix
      .answer_status_box
        .text.bold.font24= i
        .icon_status
          - if answer.status == Answer::STATUS[:good]
            = image_tag("common/status_icon.png")
          - elsif answer.status == Answer::STATUS[:normal]
            %span Normal
          - else
            - if user_signed_in?
              = link_to "feedback", "#", :class => "btn_answer_feedback"
            - else
              .text.italic.font12
                = link_to "Login to feedback", "#"
      .answer_content= answer.content.html_safe

      .frm_feedback_answer.hide
        .title_page Post your feedback
        = hidden_field_tag :question_answer_id, answer.id, :class => "question_answer_id"
        .field_select
          = radio_button_tag(:feedback_answer, Answer::STATUS[:good], :checked => true)
          %span good answer
        .field_select
          = radio_button_tag(:feedback_answer, Answer::STATUS[:spam])
          %span spam answer
        = link_to "Post" , "#", :class => "btn btn_post_answer_feedback"
        = link_to "Cancel" , "#", :class => "btn btn_cancel_answer_feedback"
    .line