= simple_nested_form_for(@question) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :topic_id, :value => @topic.id if @topic
    = f.hidden_field :user_id, :value => current_user.id if @topic
    .question_title
      = f.label :title
    = f.input :title, :label => false
    = f.input :content, :input_html => {:class => "jqte-test" }, :label => false
    = render "shared/attachment_frm", :f => f
  .form-actions
    = f.button :submit
= render 'shared/jquery_te'