- if user_signed_in?
  .your_answer
    .title_page Your Answers
    .frm_comment_box.clearfix
      = simple_nested_form_for(answer) do |f|
        .form-inputs
          = f.hidden_field :user_id, :value => current_user.id
          = f.hidden_field :question_id, :value => question.id
          = f.input :content, :input_html => {:class => "jqte-test" }, :label => false
          = render 'shared/attachment_frm', :f => f

          / = f.fields_for :attachments do |a|
          /   = a.input :name
          /   = a.input :data
          / = f.link_to_add(:attachments , :href => "#") do 
          /   .btn add more attachment
        .answer_form_actions
          = f.button :submit, :class => "btn-primary"
  = render 'shared/jquery_te'
- else
  .title_page.red Login to post your answer