.question_body
  .title_page.line Questions
  .question_title= question.title
  .question_info.clearfix
    .question_status_box
      .text.bold.font24.red= question.answers.count 
      .text.italic answers
      .feedback= link_to "feedback", "#" if user_signed_in?
    .question_content= question.content.html_safe
  #attachments.question_attachment
    - question.attachments.each do |attachment|
      .topic_image_fields
        = image_tag(attachment.data)
        .text.italic= attachment.name