.topic_info.clearfix
  .topic_title.title_page= "Topic: #{question.topic.title}"
  .link_effect= link_to "Expand", "#", :class => "btn_expand_topic_content red"
  .topic_content= question.topic.content