%h1 Listing questions

%table
  %tr
    %th Topic
    %th User
    %th Title
    %th Content
    %th Attachment
    %th Status
    %th
    %th
    %th

  - @questions.each do |question|
    %tr
      %td= question.topic_id
      %td= question.user_id
      %td= question.title
      %td= question.content
      %td= question.attachment
      %td= question.status
      %td= link_to 'Show', question
      %td= link_to 'Edit', edit_question_path(question)
      %td= link_to 'Destroy', question, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question', new_question_path
