.left_right_template_page.clearfix
  .left_content
    = render 'topic_info', :question => @question
    = render 'question_info', :question => @question
    #answers_question= render 'answers_question', :question => @question
    = render 'frm_new_answer', :answer => @answer, :question => @question
  .right_side
    = render 'topics/right_side_another_topics', :topics => @topics
    = render 'topics/right_side_top_question', :top_questions => @top_questions