= simple_form_for(@profile) do |f|
  = f.error_notification
  - if @user
    - user_id = @user.id
  - else
    - user_id = current_user.id

  .form-inputs
    = f.hidden_field :user_id, :value => user_id
    = f.input :last_name
    = f.input :first_name
    / = f.input :birthday
    = f.input :birthday, :as => :string, :input_html => {:id => "user_birthday",:class => "input_date"}, :wrapper_html => {:class => "time_field"}, :label => "Birthday"
    = f.input :address
    = f.input :course
    = f.input :major
    = f.input :resume
    / = f.input :resume, :input_html => {:class => "jqte-test" }, :label => false
    = f.label :avatar
    = f.file_field :avatar

  .form-actions
    = f.button :submit
    = link_to "cancel", user_path(current_user), :class => "btn"
/ = render 'shared/jquery_te'