%h1 Listing profiles

%table
  %tr
    %th User
    %th Last name
    %th First name
    %th Birthday
    %th Address
    %th Avatar
    %th Course
    %th Gender
    %th Resume
    %th
    %th
    %th

  - @profiles.each do |profile|
    %tr
      %td= profile.user_id
      %td= profile.last_name
      %td= profile.first_name
      %td= profile.birthday
      %td= profile.address
      %td= profile.avatar
      %td= profile.course
      %td= profile.gender
      %td= profile.resume
      %td= link_to 'Show', profile
      %td= link_to 'Edit', edit_profile_path(profile)
      %td= link_to 'Destroy', profile, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Profile', new_profile_path
