%p#notice= notice

%p
  %b User:
  = @profile.user_id
%p
  %b Last name:
  = @profile.last_name
%p
  %b First name:
  = @profile.first_name
%p
  %b Birthday:
  = @profile.birthday
%p
  %b Address:
  = @profile.address
%p
  %b Avatar:
  = @profile.avatar
%p
  %b Course:
  = @profile.course
%p
  %b Gender:
  = @profile.gender
%p
  %b Resume:
  = @profile.resume

= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
