= simple_form_for(@comment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :topic_id
    = f.input :profile_id
    = f.input :content
    = f.input :status

  .form-actions
    = f.button :submit
