%h1 Listing comments

%table
  %tr
    %th User
    %th Topic
    %th Profile
    %th Content
    %th Status
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.user_id
      %td= comment.topic_id
      %td= comment.profile_id
      %td= comment.content
      %td= comment.status
      %td= link_to 'Show', comment
      %td= link_to 'Edit', edit_comment_path(comment)
      %td= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Comment', new_comment_path
