%p#notice= notice

%p
  %b User:
  = @comment.user_id
%p
  %b Topic:
  = @comment.topic_id
%p
  %b Profile:
  = @comment.profile_id
%p
  %b Content:
  = @comment.content
%p
  %b Status:
  = @comment.status

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
