.forum_category_box.clearfix
  - categories.each do |category|
    - if category.id == topic.category_id
      .category_name.btn.btn-warning
        = link_to category.name, forums_topics_path(:category_id => category.id)
    - else
      .category_name.btn.btn-info
        = link_to category.name, forums_topics_path(:category_id => category.id)