= simple_nested_form_for(@topic) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :user_id, :value => current_user.id
    = f.label :category
    = f.select(:category_id, @categories.collect{|s| [s.name, s.id]})
    = f.input :title
    = f.input :content
    = render "shared/attachment_frm", :f => f
  .form-actions
    = f.button :submit
    = link_to "Cancel", topics_path, :class => "btn"
