#questions
  .title_page.line Questions
  .question_link.right
    = link_to "Post your question", new_question_path(:topic_id => topic.id), :class => "btn btn-primary"
  .questons_box
    - questions.each do |question|
      .question_box.clearfix
        .avatar= link_to current_user_avatar(question.user), user_path(question.user)
        .body
          .text.bold.question.title
            = link_to question.title, question_path(question)
          .question_answer_info
            .left_created.italic
              %span.blue= "#{question.created_at.strftime(I18n.t('time.format_normal'))}, "
              %span.blue= "#{question.answers.count} answers"
            .right_answer_num
              = link_to "Detail", "#", :class => "red btn_expend_question_content"
          .text.question_content.hide= question.content.html_safe