.side_box.clearfix
  .box_title Topics
  - topics.each do |topic|
    .text.capitalize.side_topic_title.btn.btn-success{:title => topic.title}
      = link_to truncate(topic.title, :length => 25 ), forums_topics_path(:topic_id => topic.id)
  .all_topics_link
    = link_to "All Topics", "#", :class => "btn_all_topics"