.side_box.clearfix
  .box_title Top questions
  - top_questions.each do |question|
    .top_question_box.clearfix
      .avatar= link_to current_user_avatar(question.user), user_path(question.user)
      .info_box
        .text.font12.line18= link_to truncate(question.title, :length => 70 ), question_path(question)
  #all_question_link.all_question_link
    = link_to "All questions", "#" , :class => "btn_all_questions"
