#top_topic
  .title_page= @topic.title
  = topic.content
#attachments
  - topic.attachments.each do |attachment|
    .topic_image_fields
      = image_tag(attachment.data)
      .text.italic= attachment.name