- if @topic
  .left_right_template_page.clearfix
    .left_content
      = render 'another_categories_forum', :categories => @categories, :topic => @topic
      = render 'topic', :topic => @topic
      = render 'questions_on_topic', :questions => @questions, :topic => @topic
    .right_side
      #right_side_all_topics
        = render 'right_side_another_topics', :topics => @topics
      #right_side_top_questions
        = render 'right_side_top_question', :top_questions => @top_questions
      = hidden_field_tag 'current_topic', @topic.id
- else
  .center THERE IS NO DATA HERE