.title_page Topics management
.action_box
  .link_box
    = link_to "Create new topic", new_topic_path, :class => "btn btn-primary"
  = render 'search_form'

.content_box.clear-fix
  %table.table.table-condensed
    %thead
      %tr
        %th.num.center Id
        %th.center Category
        %th.center Title
        %th.center Created_at
        %th.link_full.center Action
    %tbody
      - if @topics.size > 0
        - @topics.each_with_index do |topic, i|
          %tr
            %td.center
              = topic.id
            %td
              = topic.category.name
            %td
              = topic.title
            %td.right
              = topic.created_at.strftime(I18n.t('time.short_format')) if topic.created_at
            %td.center
              = link_to "Show", topic_path(topic)
              - if current_user.is_supper_admin or current_user.is_admin
                = link_to "Edit", edit_topic_path(topic), :class => "td_link_margin"
              - if  topic.questions.size > 0
                = link_to "Delete", '#', class: 'disable has-tooltip', title: 'This store has already had product(s), you cannot delete it'
              - else
                = link_to "Delete", topic_path(topic, authenticity_token: form_authenticity_token), method: "delete", data: {confirm: 'Are you sure?'}, class: "red"

/ %table
/   %tr
/     %th User
/     %th Category
/     %th Title
/     %th Content
/     %th Attachment
/     %th Status
/     %th Point
/     %th
/     %th
/     %th

/   - @topics.each do |topic|
/     %tr
/       %td= topic.user_id
/       %td= topic.category_id
/       %td= topic.title
/       %td= topic.content
/       %td= topic.attachment
/       %td= topic.status
/       %td= topic.point
/       %td= link_to 'Show', topic
/       %td= link_to 'Edit', edit_topic_path(topic)
/       %td= link_to 'Destroy', topic, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New Topic', new_topic_path
