%p
  %b User:
  = @topic.user_id
%p
  %b Category:
  = @topic.category_id
%p
  %b Title:
  = @topic.title
%p
  %b Content:
  = @topic.content

%p
  %b Status:
  = @topic.status
%p
  %b Point:
  = @topic.point

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'Back', topics_path
