= simple_form_for(@user) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email    
    = f.label :role
    = f.select(:role, User::ROLE )
  .form-actions
    = f.button :submit, :value => "Save"
    = link_to "cancel", user_path(@user), :class => "btn"
- if @user.profile
  = link_to "Edit profile", edit_profile_path(@user)
- else
  = link_to "Edit profile", new_profile_path(:user_id => @user.id)
