.search_box
  = search_form_for @q do |f|
    .input.seach-query
      = f.text_field :email_cont, :class => "search-query event", :placeholder => "Enter an email"
      %button.btn{:type => "submit"} Search
