.title_page Users management 

.action_box
  .link_box
    = link_to "Create new user", "#", :class => "btn btn-primary"
  = render 'search_form'

.content_box.clear-fix
  %table.table.table-condensed
    %thead
      %tr
        %th.num.center Id
        %th.center avatar
        %th.center Name
        %th.center Course
        %th.center Birthday
        %th.center Role
        %th.link_full.center Action
    %tbody
      - @users.each_with_index do |user, i|
        %tr
          %td.center
            = user.id
          %td
            .img_logo
              = link_to current_user_avatar(user), user_path(user)
          %td
            = user.full_name
          %td
            = user.profile.course  if user.profile
          %td.right
            = user.profile.birthday  if user.profile
          %td
            = User::ROLE_TEXT[user.role] 
          %td.center
            = link_to "Show", user_path(user)
            - if current_user.is_supper_admin or current_user.is_admin
              = link_to "Edit", edit_user_path(user), :class => "td_link_margin"
            - if user.is_supper_admin 
              = link_to "Delete", '#', class: 'disable has-tooltip', title: 'This store has already had product(s), you cannot delete it'
            - else
              = link_to "Delete", user_path(user, authenticity_token: form_authenticity_token), method: "delete", data: {confirm: 'Are you sure?'}, class: "red"