.title_page Members 
- if @users
  - @users.each do |user|
    .user_profile_box.clearfix
      .avatar_field
        = link_to current_user_avatar(user), user_path(user)
      .info_field
        .text.bold= truncate(user.full_name, length: 30)
        .text= truncate(user.profile.major, length: 45) if user.profile
      .conect_number
        = link_to user.conection_number, "#"
- else
  There is not user here