- if @user
  #top_user_info_box.clearfix
    .profile_avatar
      = current_user_avatar(@user)
    .profile_info
      %p
        %span.text.bold Email: 
        %span= @user.email
        %span.text.italic= "(#{User::ROLE_TEXT[@user.role]})" 
      - if @user.profile
        %p
          %span.text.bold Name: 
          %span= "#{@user.profile.first_name} #{@user.profile.last_name}"
        %p
          %span.text.bold Birthday: 
          %span= @user.profile.birthday
        %p
          %span.text.bold Address: 
          %span= @user.profile.address
        %p
          %span.text.bold Major: 
          %span= @user.profile.major
        %p
          %span.text.bold Resume: 
          %span= @user.profile.resume

      - else
        .text.bold.blue User has no profile
      - if @user.id == current_user.id  
        .update_profile_action
          - if @user.profile
            = link_to "Update profile", edit_profile_path(@user.profile), :class => "btn btn-primary"
          - else
            = link_to "Create profile", new_profile_path, :class => "btn btn-primary"
  #user_comment_box.clearfix
    .title_page 
      %span Comments
      %span.text.italic= "(#{@comments.size})" if @comments
    - if @comments
      .comment_info_box
        - @comments.each do |comment|
          .commnet_field.clearfix
            .current_user_avatar= link_to current_user_avatar(comment.user), user_path(comment.user)
            .comment_info_content
              .text.bold= link_to comment.user.full_name, user_path(comment.user)
              .text= comment.content
    - if current_user.id != @user.id
      .frm_comment_box.clearfix
        = simple_form_for(@comment) do |f|
          .form-inputs
            = f.hidden_field :user_id, :value => current_user.id
            = f.hidden_field :profile_id, :value => @user.profile.id
            = hidden_field_tag :comment_type, "user_comment"
            .current_user_avatar= link_to current_user_avatar(current_user), user_path(current_user)
            = f.input :content, :label => false
            = f.button :submit, :value => "Save"
