.attachments_fields.clearfix
  %p.title_page Attachments
  = f.fields_for :attachments do |a|
    = a.link_to_remove "-", :title => "Remove attachment", :class => "btn btn-danger btn-remove-attachment"
    = a.input :data, :label => "File"
    = a.input :name, :label => "Image info"
  .nested_action_box
    = f.link_to_add(:attachments, :href => '#', :title => "Add attachment", :class => "btn-add-attachment") do
      .btn.btn-primary +