.footer_menu_box
  %ul.footer_menu
    %li#privacy{:class => (current_page?("#")  ? "selected" : "")}
      = link_to "link 1" , "#"
    %li#refer
      = link_to "link 2" , "#"
    %li#about
      = link_to "link 3" , "#"