#head-top
  #logo
    = link_to image_tag('common/logo.png'), root_path
  #main_menu
    = render 'shared/main_menu'
  #head_menu
    %ul
      - if user_signed_in?
        %li
          = image_tag("common/sprite1.png", :class => "user_info")
          %ul.main-sub-menu
            %li
              = link_to "My Account", user_path(current_user)
            %li
              = link_to "Change Password", edit_user_registration_path
            %li
              - if current_user.profile
                = link_to "Edit Profile", edit_profile_path(current_user.profile)
              - else 
                = link_to "Edit Profile", new_profile_path
            %li
              = link_to I18n.t('common.logout'), destroy_user_session_path(:authenticity_token => form_authenticity_token()), :method => :delete 
        %li.email_info= current_user.email
      - else
        %li
          = link_to new_user_registration_path , :class => "user_right_soace" do
            %i.icon-lock
            = I18n.t('common.register')
          = link_to new_user_session_path , :class => "" do
            %i.icon-lock
            = I18n.t('common.login')
