%ul
  %li
    = link_to "Home", root_path
  %li
    = link_to "About", "#"
  %li
    = link_to "Forums", forums_topics_path
  - if user_signed_in?
    %li
      = link_to "Users", members_users_path
    - if current_user.is_admin or current_user.is_supper_admin
      %li
        = link_to "Admin", "#"
        %ul.main-sub-menu
          %li
            = link_to "User management", users_path
          %li
            = link_to "Category management", categories_path
          %li
            = link_to "Topic management", topics_path

     