= simple_form_for(@answer) do |f|
  = f.error_notification

  .form-inputs
    = f.input :question_id
    = f.input :user_id
    = f.input :content
    = f.input :attachment
    = f.input :status

  .form-actions
    = f.button :submit
