%p#notice= notice

%p
  %b Question:
  = @answer.question_id
%p
  %b User:
  = @answer.user_id
%p
  %b Content:
  = @answer.content
%p
  %b Attachment:
  = @answer.attachment
%p
  %b Status:
  = @answer.status

= link_to 'Edit', edit_answer_path(@answer)
\|
= link_to 'Back', answers_path
