%h1 Listing subjects

%table
  %tr
    %th Name
    %th Description
    %th Status
    %th
    %th
    %th

  - @subjects.each do |subject|
    %tr
      %td= subject.name
      %td= subject.description
      %td= subject.status
      %td= link_to 'Show', subject
      %td= link_to 'Edit', edit_subject_path(subject)
      %td= link_to 'Destroy', subject, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Subject', new_subject_path
