%p#notice= notice

%p
  %b Name:
  = @subject.name
%p
  %b Description:
  = @subject.description
%p
  %b Status:
  = @subject.status

= link_to 'Edit', edit_subject_path(@subject)
\|
= link_to 'Back', subjects_path
