.answer_form_actions{
  text-align: right;
}

.frm_feedback_answer{
  position: absolute;
  clear: both;
  background-color: #e1e1e1;
  width: 160px;
  height: 140px;
  padding-left: 15px;
  margin-left: 100px;
  border: solid 1px #000;
}