#user_comment_box{
  margin-top: 50px;
  .current_user_avatar{
    width: 50px;
    float: left;
    margin-right: 20px;
    img{
      width: 50px;
      height: 60px;
    }
  }
  .comment_info_content{
    width: 90%;
    float: left;
  }
  .commnet_field{
    margin-top: 20px;
  }
  .frm_comment_box{
    margin-top: 50px;
    #comment_content{
      float: left;
      margin-right: 20px;
    }
  }
}