*{
  margin:0;
  padding:0;
}
body{
  background-color: #fff;
}
#header{
  height: 35px;
  background-image: linear-gradient(to bottom, #1e88b1, #1682b1);
  margin-top:  3px;
  #logo{
    width: 40px;
    float: left;
    margin-left: 30px;
    margin-top: 3px;
    img{
      width: 29px;
      height: 29px;
    }
  }
  #main_menu{
    ul{
      list-style-type:none;
      color: #fff;
      li{
        float: left;
        width: auto;
        padding: 0 10px;
        margin-top: 8px;
        border-right: 1px solid #8ad0f2;
        a{
          color: #fff;
          font-weight: bolder;
        }
      }
    }
    ul.main-sub-menu{
      clear: both;
      position: absolute;
      display: none;
      width: auto;
      padding-bottom: 5px;
      background-image: linear-gradient(to bottom, #1e88b1, #1682b1);
      z-index: 1;
      li{
        border-right: none;
        float: inherit;
        border-top: 1px solid #fff;
        margin-top: 6px;
        padding-top: 5px;
        padding-left:30px;
        padding-right:30px;
        a:hover{
          color: #333344;
        }
      }
    }
    ul li:hover ul.main-sub-menu{
      display: block;
    }
  }
  #head_menu{
    ul{
      margin-top: 0px;
      margin-right: 30px;
      color: #fff;
      list-style-type:none;
      li{
        float: right;
        span{
          margin-right: 10px;
          margin-left: 10px;
        }
        a{
          color: #fff;
        }
      }
    }
    .email_info{
      margin-right: 20px;
    }
    img.user_info{
      width: 35px;
    }
    ul.main-sub-menu{
      clear: both;
      position: absolute;
      display: none;
      width: 180px;
      padding-left: 5px;
      padding-right: 5px;
      z-index: 1;
      margin-left: -150px;
      border:solid 1px #dbdbdb;
      background-color: #fff;

      li{
        border-right: none;
        float: inherit;
        margin-top: 6px;
        padding-top: 5px;
        padding-left:30px;
        padding-right:30px;
        color: #000 !important; 
        a{
          color: #000;
        }
        a:hover{
          color: #d3556c;
        }
      }
    }
    ul li:hover ul.main-sub-menu{
      display: block;
    }

  }
  a:hover{
    text-decoration: none;
  }
}

.ajax-loading{
  position: fixed;
  top: 30%;
  left: 50%;
}
#page-container{
  width:80%;
  margin:auto;
  padding:0px;
  background-color: #fff;
  font-size: 14px;
  line-height:20.71px;
  letter-spacing: 0px;
  min-height: 200px;
}
#footer{
  padding: 0 30px;
  margin-top: 100px;
}

.detail-info {
  .title {
    font-size: 14px;
  }
  .info {
    div {
      margin-bottom: 2px;
    }
  }
}
.time-size {
  width: 140px;
}
.user_right_soace{
  margin-right: 20px;
}

/*================ FOOTER ==================*/
#footer{
  clear: both;
  height:120px;
  background-color:#44464b;
  color:#dadbdb;
}
.footer_menu_box{
  display:block;
  height:75px;
  ul.footer_menu{
    margin-left: 55px;
    li{
      float: left;
      margin-top:45px;
      margin-right:20px;
      text-align:left;
      a{
        color: #fff;
        font-size: 16px;
      }
      &:hover , &.selected{
        // font-family:"GudeaBold";
      }
    }
    #faq{
      width:50px;
    }
    #terms{
      width:50px;
    }
    #privacy{
      width:60px;
    }
    #contact{
      width:90px;
    }
    #about{
      width:90px;
    }
  }
}

.help-block{
  text-align: center;
  color: red;
}