.question_title{
  label {
    width: 50px !important;
  }
}

.question_frm{
  margin-top: 20px;
}

.topic_info{
  background-color: #e1e1e1;
  border: solid 2px #000;
  padding: 5px 10px 10px 10px;
  margin-top: 10px;
  .topic_title{
    float: left;
    margin-right: 20px;
  }
  .link_effect{
    margin-top: 10px;

  }
  .topic_content{
    margin-left: 50px;
    clear: both;
  }
}
.question_body{
  margin-top: 20px;
  .question_title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  .question_info{
    margin-top: 10px;
    .question_status_box{
      float: left;
      width: 10%;
      background-color: #e1e1e1;
      padding-top: 5px;
      text-align: center;
      .feedback{
        margin-top: 10px;
      }
    }
    .question_content{
      float: left;
      width: 80%;
      margin-left: 10px;
    }
  }
}

.answers_body{
  .answer_box{
    margin-top: 20px;
    .answer_status_box{
      float: left;
      width: 10%;
      background-color: #e1e1e1;
      text-align: center;
      padding: 5px;
      .icon_status{
        img{
          width: 30px;
          margin-top: 5px;
        }
      }
    }
    .answer_content{
      float: left;
      width: 85%;
      margin-left: 20px;
    }
  }
}