.left_right_template_page{
  .left_content{
    width: 75%;
    float: left;
    margin-right: 20px;
  }
  .right_side{
    width: 22%;
    float: left;
    .side_box{
      margin-top: 10px;
      margin-bottom: 50px;
      border:1px solid #dbdbdb;
      padding: 5px;
      .box_title{
        background-color: #000;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 5px;
      }
      .side_topic_title{
        margin-top: 2px;
        width: 87.5%;
        text-align: left;
        a{
          color: #fff;
        }
      }
      .all_topics_link{
        text-align: right;
        margin-top: 10px;
        a{
          color: red;
        }
      }
      .top_question_box{
        width: 100%;
        margin-top: 10px;
        .avatar{
          width: 20%;
          float: left;
          margin-right: 5px;
        }
        .info_box{
          float: left;
          width: 75%; 
        }
      }
      .all_question_link{
        text-align: right;
        margin-top: 10px;
        a{
          color: red;
        }
      }
    }

  }

}
.topic_image_fields{
  text-align: center;
  margin-bottom: 20px;
  img{
    max-width: 70%;
  }
}
.question_link{
  margin-top: 20px;
  margin-bottom: 50px;
}

/* ========== forum =============*/
.questons_box{
  .question_box{
    margin-top: 30px;
    // border:1px solid #dbdbdb;
    .avatar{
      img{
        margin-right: 10px;
        width: 60px;
        float: left;
      }
    }
    .body{
      width: 90%;
      float: left;
      .question_answer_info{
        .left_created{
          float: left;
          width: 88%;
        }
      }
    }
  }
}

.forum_category_box{
  margin-top: 10px;
  border:1px solid #dbdbdb;
  background-color: #e1e1e1;
  // width: 75%;
  text-align: center;
  .category_name{
    // float: left;
    width: 26%;
    height: 40px;
    text-align: center;
    margin: 10px;
    padding-top: 20px;
    a{
      color: #fff;     
      font-weight: bold; 
      text-transform:capitalize;
      font-size: 20px;
    }
  }
}