#user_remember_me{
  position: relative;
  float: left;
}

#top_user_info_box{
  padding-top: 10px;
  .profile_avatar{
    float: left;
    width: 20%;
    margin-right: 3%;
  }
  .profile_info{
    width: 77%;
    float: left;
  }
  .update_profile_action{
    text-align: left;
    margin-top: 20px;
  }
}
.user_profile_box{
  float: left;
  width: 200px;
  height: 300px;
  border: 1px solid #dbdbdb;
  margin: 25px;
  .avatar_field{
    img{
      height: 230px;
    }
  }
  .info_field{
    padding: 5px;
    position: relative;
    height: 40px;
  }
  .conect_number{
    position: absolute;
    margin-left: 180px;
  }
}
