= simple_form_for(@category) do |f|
  = f.error_notification

  .form-inputs
    = f.label :subject
    = f.select(:subject_id, @subjects.collect{|s| [s.name, s.id]})
    = f.input :name
    = f.input :description
    = f.hidden_field :user_id, :value => current_user.id

  .form-actions
    = f.button :submit
    = link_to "Cancel", categories_path, :class => "btn"
