.search_box
  = search_form_for @q do |f|
    .input.seach-query
      = f.text_field :name_cont, :class => "search-query event", :placeholder => "Enter an name"
      %button.btn{:type => "submit"} Search
