.title_page Categories management

.action_box
  .link_box
    - if current_user.is_supper_admin or current_user.is_admin
      = link_to "Create new category", new_category_path, :class => "btn btn-primary"
  = render 'search_form'

.content_box.clear-fix
  %table.table.table-condensed
    %thead
      %tr
        %th.num.center Id
        %th.center Name
        %th.center Description
        %th.center Topic number
        %th.center Status
        %th.center Created_at
        %th.link_full.center Action
    %tbody
      - @categories.each_with_index do |category, i|
        %tr
          %td.center
            = category.id
          %td
            = category.name
          %td
            = category.description
          %td
            = category.topics.count
          %td.right
            = category.status
          %td
            = category.created_at.strftime("%d/%m/%Y")
          %td.center
            - if current_user.is_supper_admin or current_user.is_admin
              = link_to "Edit", edit_category_path(category), :class => "td_link_margin"
              - if category.topics.size > 0 
                = link_to "Delete", '#', class: 'disable has-tooltip', title: 'This category has already had topic(s), you cannot delete it'
              - else
                = link_to "Delete", category_path(category, authenticity_token: form_authenticity_token), method: "delete", data: {confirm: 'Are you sure?'}, class: "red"
/ %table
/   %tr
/     %th Name
/     %th Description
/     %th User
/     %th Status
/     %th
/     %th
/     %th

/   - @categories.each do |category|
/     %tr
/       %td= category.name
/       %td= category.description
/       %td= category.user_id
/       %td= category.status
/       %td= link_to 'Show', category
/       %td= link_to 'Edit', edit_category_path(category)
/       %td= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New Category', new_category_path
