%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  %b Description:
  = @category.description
%p
  %b User:
  = @category.user_id
%p
  %b Status:
  = @category.status

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
