%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = stylesheet_link_tag  "application", :media => :all
    = yield :head
    = javascript_include_tag "head/application"
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'jquery-te.min'
    %title
      nvhforum
  %body
    #page-wrapper
      #header
        = render 'shared/header'
      #loading.hide
        = image_tag("common/loading.gif")
      #page-container
        #main-content
          #flash-panel
            = render partial: "shared/flash_messages", flash: flash
          = yield
      #footer.clearfix
        = render 'shared/footer'
  = javascript_include_tag "application"
  = yield(:js)